# Mac OS X files
.DS_Store
.Thumbs.db
.Trashes
._*
.Spotlight-V100

# Sublime project files
*.sublime-project
*.sublime-workspace

# Atom stuff
.atom-build.json

# Binaries
*.pyc

*.vcd
testbench.vcd.1427310929.54
testbench.vcd*
*.name
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
gtkwave - Shortcut.lnk
ProcessorAssemblyStripped
