# Mac OS X files
.DS_Store
.Thumbs.db
.Trashes
._*
.Spotlight-V100

# Sublime project files
*.sublime-project
*.sublime-workspace

# Atom stuff
.atom-build.json

# Binaries
*.pyc

# Various strange files
*.vcd
*.name
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
gtkwave - Shortcut.lnk

# Compiler outputs
ProcessorAssemblyStripped.txt
ProcessorMachineCode.txt
